.logo {
  position: relative;
  width: 100px; /* enough to fit triangles */
  height: 100px;
  border: 4px solid rgb(71, 71, 252);
  border-radius: 50%;
  max-width: 60px;
  max-height: 60px;
  margin-right: 20px;
}

.logo .wrapper {
  min-width: 60px;
  min-height: 60px;
  filter: drop-shadow(0 0 1px #00edfa63) drop-shadow(0 0 2px #00edfa57)
    drop-shadow(0 0 3px #00edfa54) drop-shadow(0 0 4px #00edfa6b);
  animation: flicker 5s infinite;
}

.logo .wrapper .top {
  position: absolute;
  transform-origin: center;
  top: 19%;
  left: 33%;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-bottom: 22.15px solid #ffe6ff;
}

.logo .wrapper .bottom {
  position: absolute;
  transform-origin: center;
  top: 46%;
  right: 30%;
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-top: 22.5px solid #ffe6ff;
}
