@import 'fonts.css';

header {
  padding: 50px 20px 50px 20px;
}

header .top {
  justify-content: left;
  display: flex;
}

header .bottom {
  font-family: 'Inter Regular';
  font-size: 16px;
}

.green-font {
  color: rgb(0, 190, 0);
}

.yellow-font {
  color: yellow;
}

header .main-title {
  color: white;
  text-transform: uppercase;
  font-family: 'Inter Bold';
  font-size: 35px;
}

.bolt {
  margin-right: 8px;
  padding-top: 0px;
  width: 40px;
  height: 40px;
}

body {
  background-color: rgb(40, 44, 53);
  color: #ffffff;
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
}

.capitalize-first::first-letter {
  text-transform: capitalize;
}

p {
  font-family: 'PT Regular';
  color: #d6d6d6;
  font-size: 20px;
}

figure {
  margin: 40px 0 20px 0px;
}

pre {
  border-radius: 20px;
}

code {
  font-size: 20px;
  padding: 20px;
  background-color: #191d27;
  border-radius: 20px;
}

a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.post-card {
  border-radius: 20px;
}

.post-card .title {
  font-family: 'Inter Extra Bold';
  color: rgb(208, 208, 208);
  font-size: 34px;
}

.post-card:hover {
  box-shadow: inset 0 0 0 2px rgb(255, 255, 255, 0.2);
}

.post {
  padding: 20px;
}

.post .title {
  font-family: 'Inter Extra Bold';
  color: rgb(241, 241, 241);
  font-size: 34px;
}

.padding-20 {
  padding: 20px;
}
