@import 'fonts.css';
@import 'neon.css';

header {
  padding-top: 20px;
}

header .wrapper {
  padding: 50px 20px 50px 20px;
  display: flex;
  justify-content: left;
}

header .top {
  justify-content: left;
  display: flex;
}

header .main-title {
  color: white;
  text-transform: uppercase;
  font-family: 'Inter Bold';
  font-size: 35px;
}

header .bottom {
  font-family: 'Inter Regular';
  font-size: 16px;
}

.bolt-wrapper {
  position: relative;
  width: 100px; /* enough to fit triangles */
  height: 100px;
  border: 4px solid rgb(71, 71, 252);
  border-radius: 50%;
  max-width: 60px;
  max-height: 60px;
  margin-right: 20px;
}

.triangle-wrapper {
  min-width: 60px;
  min-height: 60px;
  filter: drop-shadow(0 0 1px #00edfa63) drop-shadow(0 0 2px #00edfa57)
    drop-shadow(0 0 3px #00edfa54) drop-shadow(0 0 4px #00edfa6b);
  animation: flicker 5s infinite;
}

.top-triangle,
.bottom-triangle {
  position: absolute;
  transform-origin: center;
}

.top-triangle {
  top: 10%;
  left: 20%;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-bottom: 30px solid #ffe6ff;
}

.bottom-triangle {
  top: 40%;
  right: 25%;
  width: 0;
  height: 0;
  border-right: 20px solid transparent;
  border-top: 30px solid #ffe6ff;
}

a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.green-font {
  color: rgb(0, 190, 0);
}

.yellow-font {
  color: #f5ca2a;
}

body {
  background-color: rgb(40, 44, 53);
  color: #ffffff;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 50px 0 50px;
  box-sizing: border-box;
}

.capitalize-first::first-letter {
  text-transform: capitalize;
}

p {
  font-family: 'PT Regular';
  color: #d6d6d6;
  font-size: 18px;
  text-align: justify;
}

figure {
  margin: 40px 0 20px 0px;
}

pre {
  border-radius: 20px;
}

code {
  font-size: 20px;
  padding: 20px;
  background-color: #191d27;
  border-radius: 20px;
}

.post-card {
  padding: 25px 35px 25px 20px;
  margin-top: 20px;
  border-radius: 20px;
}

.post-card .title {
  font-family: 'Inter Extra Bold';
  color: rgb(208, 208, 208);
  font-size: 34px;
}

.date {
  font-family: 'Inter Regular';
  color: #d6d6d6;
  margin-top: 5px;
  font-size: 17px;
}

.post-card .trim {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.post-card:hover {
  box-shadow: inset 0 0 0 2px rgb(255, 255, 255, 0.2);
}

.post {
  padding: 25px 35px 25px 20px;
  margin-top: 20px;
}

.post .title {
  font-family: 'Inter Extra Bold';
  color: rgb(241, 241, 241);
  font-size: 34px;
}

.padding-20 {
  padding: 20px;
}
