@font-face {
  font-family: "Outfit Medium";
  src: url("./assets/fonts/outfit/Outfit-Medium.ttf");
}

@font-face {
  font-family: "Outfit Regular";
  src: url("./assets/fonts/outfit/Outfit-Regular.ttf");
}

@font-face {
  font-family: "Outfit Bold";
  src: url("./assets/fonts/outfit/Outfit-Bold.ttf");
}

@font-face {
  font-family: "Outfit Thin";
  src: url("./assets/fonts/outfit/Outfit-Thin.ttf");
}

@font-face {
  font-family: "Inter Regular";
  src: url(./assets/fonts/inter/Inter_18pt-Regular.ttf);
}

body{
  font-family: "Inter Regular";
  background-color: #37353E;
  color: #ffffff;
}