@import 'fonts.css';
@import 'flicker.css';
@import 'logo.css';
@import 'post-card.css';

header {
  margin-top: 20px;
  padding: 50px 20px 50px 20px;
  display: flex;
  justify-content: left;
}

header .top {
  justify-content: left;
  display: flex;
}

header .top .title {
  color: white;
  text-transform: uppercase;
  font-family: 'Inter Bold';
  font-size: 35px;
}

header .bottom {
  font-family: 'Inter Regular';
  font-size: 16px;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

body {
  background-color: rgb(40, 44, 53);
  color: #ffffff;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 50px 0 50px;
  box-sizing: border-box;
}

.yellow {
  color: #f5ca2a;
}

.neon {
  color: #82f9ff;
}

.capitalize-first::first-letter {
  text-transform: capitalize;
}

p {
  font-family: 'PT Regular';
  color: #d6d6d6;
  font-size: 18px;
  text-align: justify;
}

figure {
  margin: 40px 0 20px 0px;
}

pre {
  border-radius: 20px;
}

code {
  font-size: 20px;
  padding: 20px;
  background-color: #191d27;
  border-radius: 20px;
}

.date {
  font-family: 'Inter Regular';
  color: #d6d6d6;
  margin-top: 5px;
  font-size: 17px;
}

.post {
  padding: 25px 35px 25px 20px;
  margin-top: 20px;
}

.post .title {
  font-family: 'Inter Extra Bold';
  color: rgb(241, 241, 241);
  font-size: 34px;
}
